@model FinalProjectAshyiana.Models.Admin
@{
    ViewBag.Title = "ALogin";
}

@*<h2>ALogin</h2>*@

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <link href="../../Content/bootstrap.css" rel ="stylesheet" />
    <script src="../../Scripts/bootstrap.js"></script>
    <style>
       
         #d2 {
            background-image:url('../../Images/lb3.jpg');
            height:360px;
            width:460px;
            position:absolute;
            left:50%;
            top:50%;
            margin:-100px 0 0 -150px;
        }
        .row {
            position:absolute;
            left:50%;
            top:50%;
            margin:-100px 0 0 -150px;

        }
        #T1{
            margin:10px,-15px,0px,0px;
            padding:5px;
            
        }
         #T2{
            margin:20px;
            padding:5px;
            
        }
             span {
            font-size:17px;
            font-family:Andalus;
        }
    </style>
</head>
<body style="background-image:url('../../Images/h39.jpg');height:750px;width:1230px ">
    
    <div id="d2">
         <form method="post" action="/Admin/Verify">
    <div class="row">
       
    <span>Enter Your Name</span>
    @Html.TextBoxFor(m => m.Name_, new { placeholder="Name", type="text", id= "T1",required = "required"})
     <br />
     <br />
    <span>Enter Password</span>
        @Html.TextBoxFor(m => m.Password, new { placeholder="Password", type="password", id= "T2",required = "required"})
         <br />
         <br />
        <button  class="btn-primary" type="submit">Login</button>
        </div>
        </form>
        </div>

</body>
</html>

