@{
    ViewBag.Title = "Menu";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
        <link href="~/Content/bootstrap.css" rel ="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script type =' text/javascript' src ="~/Scripts/jquery-2.1.4.js"> </script>
    <script type="text/javascript" src="../../Scripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery-1.7.1.js"></script>
    <style>
       #a1{
           
           height:75px;
           width:250px;
           color:white;
           margin-top:200px;
        }
        #a2{
           
           height:75px;
           width:250px;
           color:white;
           margin-top:50px;
        }
         #a3{
           
           height:75px;
           width:250px;
           color:white;
           margin-top:50px;
           
        }


    </style>
</head>
<body style="background-color:white;height:750px;width:1230px ">
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class ="col-md-5">
            <a id="a1" href ="../Admin/InsertNewHouse" role ="button" class ="btn btn-primary"> Insert New House </a>
            
        </div>
    </div>
    <div class ="row">
          <div class="col-md-5">

        </div>
        <div class ="col-md-5">
            <a id="a2" href ="../Admin/InsertNewHouse" role ="button" class ="btn btn-primary"> Update Info </a>
        </div>
    </div>
     <div class ="row">
           <div class="col-md-5">
     </div>
        <div class ="col-md-5">
            <a id="a3" href ="../Admin/InsertNewHouse" role ="button" class ="btn btn-primary"> Manage Users </a>
        </div>
    </div>

</body>
</html>



